<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527835306694-m82ujkqj9asrro7tojbqgclqda0f71qf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527835306694-m82ujkqj9asrro7tojbqgclqda0f71qf</string>
	<key>API_KEY</key>
	<string>AIzaSyBxupV-6PAR47tvidczYlTDV8Cci8qB9t4</string>
	<key>GCM_SENDER_ID</key>
	<string>527835306694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.AuthWithMobilePhone</string>
	<key>PROJECT_ID</key>
	<string>authwithmobilephone</string>
	<key>STORAGE_BUCKET</key>
	<string>authwithmobilephone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527835306694:ios:6340b35fe2dd2d8787d5c7</string>
	<key>DATABASE_URL</key>
	<string>https://authwithmobilephone.firebaseio.com</string>
</dict>
</plist>